nav { 
    text-align: center; 
    height: 45px; 
    width: 100%; 
    position: fixed;
    top: 0;
}
ul{
    /*background-color: rgb(39,87,140);*/
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;
    /*background-color: rgb(14,115,185);
    
    /*position: -webkit-sticky; Safari
    position: sticky;
    top: 0;*/
    position: sticky;
    top: 0;
    
}

body > header {
    background-color: rgb(14,115,185);
}
li  {
    display: inline-block;
    padding: 10px;
   /* align-items: center;*/
    
}
li a {
    
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;  
}
li a:hover{
    background-color: rgb(14,115,185);
}

body > div#container{
    margin-top: 40px;
    width: 100%;
    height: auto;
    
}
body > footer{
    background-color: black;
    color: white;
    width: 100%;
    /*position: absolute;
    bottom: 0;*/
    height: 60px;
    text-align: center;
    padding-top: 2%
}

body > main  {
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(8,161,71);
    
}
/*body{
    overflow: hidden;
    width: 100%;
    min-height: 90vh;
}*/
/*#container{
    position: fixed;
    margin-top: 28px;
    width: 100%;
}*/
img{
    
    max-width: 100%;
    height: auto;
}

div#imgtext{

    position: absolute;
    top: 390px;
    right: 100px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
    font-size: 2em;
}
section#tooted{
    margin: 10%;
}
section#kontakt{
    
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
}
hmtl, body {
    margin: 0;
    padding: 0;
   /* background: url("/img/geometric-1732847_1920.jpg");*/
     
}